.restaurants {
  @include backF6F6F6;
  padding: 54px 0 66px 0;
  &__title {
    margin: 0 0 26px 20px;
  }
  &__card {
    width: 90.7%;
    overflow: hidden;
    margin: auto;
    height: 251px;
    z-index: 1;
    position: relative;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 8px 0;
    color: black;
    text-decoration: none;
    &__img {
      object-fit: cover;
      position: absolute;
      width: 100%;
      height: 20px;
      height: 231px;
      z-index: 0;
      top: -57px;
    }
    &__new {
      @include fontRoboto500;
      @include flexAICenterJCCenter;
      position: absolute;
      z-index: 2;
      width: 80px;
      height: 30px;
      right: 15px;
      top: 15px;
      margin: 0;
      background: #99e2d0;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
      border-radius: 2px;
    }
    &__h3PI {
      position: relative;
      margin: 190px 25px 13px 13px;
      display: flex;
      justify-content: space-between;
      &__p {
        @include fontRoboto300;
        margin: 6px 0 0 0;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .restaurants__title {
    margin: 0 0 1px 12.5%;
  }

  .restaurants__card {
    width: 34%;
    margin: 25px 50px;
  }
}
