@mixin fontRoboto300 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

@mixin fontRoboto500 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

@mixin fontRoboto700 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

@mixin Shrikhand {
    font-family: 'Shrikhand', cursive;
}

@mixin backF6F6F6 {
    background: #F6F6F6;
}

@mixin flexAICenterJCCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
