@mixin fontRoboto300 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

@mixin fontRoboto500 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

@mixin fontRoboto700 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}