// fonts

@mixin fontRoboto300 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

@mixin fontRoboto500 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

@mixin fontRoboto700 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

@mixin Shrikhand {
  font-family: "Shrikhand", cursive;
}

//////////////////////////////////////////// backgrounds / colors

@mixin backF6F6F6 {
  background: #f6f6f6;
}

@mixin backffffff {
  background: #ffffff;
}

@mixin colorffffff {
  color: #ffffff;
}

@mixin linearGradient {
  background: linear-gradient(360deg, #9356dc -11.44%, #ff79da 123.93%);
}

@mixin fontLinearGradient {
  background: -webkit-linear-gradient(
    193.33deg,
    #9356dc -11.44%,
    #ff79da 123.93%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

///////////////////////////////////////// positions

@mixin flexAICenterJCCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

////////////////////////////////////////// animations

@mixin buttonAnimation {
  animation-name: button;
  animation-duration: 250ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  cursor: pointer;
}

@mixin button {
  @include linearGradient;
  @include fontRoboto500;
  font-size: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
  color: white;
}

@mixin loaders {
  @include backF6F6F6;
  position: absolute;
  right: 50%;
  top: 700px;
  margin: -45px;
  align-items: center;
  width: 90px;
  height: 90px;
  z-index: 100;
  border-radius: 20px;
}
