@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.justifyContentSpaceBeteween {
  justify-content: space-between;
}

.flexWrap {
  display: flex;
  flex-wrap: wrap;
}

.justifyContentCenter {
  justify-content: center;
}

.displayFlex {
  display: flex;
}

body {
  margin: auto;
}

header {
  text-align: center;
}

h1 {
  font-family: "Shrikhand", cursive;
  margin: 0;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin: 0;
  color: black;
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
}

main {
  position: relative;
}

span {
  display: inline-block;
  height: 27px;
  border-bottom: solid #99e2d0 4px;
}

footer {
  background: #353535;
  color: #ffffff;
  padding: 22px 0;
}

@media screen and (min-width: 768px) {
  body {
    max-width: 1440px;
  }
}
.reserve_menu__button:hover {
  animation-name: button;
  animation-duration: 250ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.button:hover {
  animation-name: button;
  animation-duration: 250ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  cursor: pointer;
}

@keyframes button {
  0% {
    background: linear-gradient(360deg, #9356dc -11.44%, #ff79da 123.93%);
  }
  100% {
    background: linear-gradient(360deg, #9356dc -11.44%, #ff79da 123.93%);
    opacity: 85%;
  }
}
.iDivHeart:hover .iHearSolid {
  background: -webkit-linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: block;
}
.iDivHeart:hover .iHearRegular {
  display: none;
}

.iDivHeart {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2029;
  right: 25px;
  bottom: 33px;
}
.iDivHeart .iHearSolid {
  display: none;
}

.iDivHeartStatic {
  position: static;
}

.iHearSolid {
  display: none;
}

.loader {
  background: #f6f6f6;
  position: absolute;
  right: 50%;
  top: 500px;
  margin: -45px;
  align-items: center;
  width: 90px;
  height: 90px;
  z-index: 100;
  border-radius: 20px;
  animation: loader 3000ms forwards;
}

.loader2 {
  background: #f6f6f6;
  position: absolute;
  right: 50%;
  top: 500px;
  margin: -45px;
  align-items: center;
  width: 90px;
  height: 90px;
  z-index: 100;
  border-radius: 20px;
  animation: loader2 3000ms forwards;
}

.loader__i {
  background: -webkit-linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 50px;
  width: 50px;
  height: 50px;
}

.whole_body {
  animation: loader-body 2000ms 1000ms both;
}
.whole_body header {
  animation: parts 2000ms 600ms both;
}
.whole_body .fonctionning {
  animation: parts 2000ms 850ms both;
}
.whole_body .restaurants {
  animation: parts 1900ms 1100ms both;
}
.whole_body .article1 {
  animation: parts 2000ms 100ms both;
}
.whole_body .article2 {
  animation: parts 2000ms 200ms both;
}
.whole_body .article3 {
  animation: parts 2000ms 300ms both;
}
.whole_body .article4 {
  animation: parts 2000ms 400ms both;
}
.whole_body .article5 {
  animation: parts 2000ms 500ms both;
}
.whole_body .article6 {
  animation: parts 2000ms 600ms both;
}
.whole_body .article7 {
  animation: parts 2000ms 700ms both;
}
.whole_body .article8 {
  animation: parts 2000ms 800ms both;
}
.whole_body .article9 {
  animation: parts 2000ms 900ms both;
}
.whole_body .article10 {
  animation: parts 2000ms 1000ms both;
}

@keyframes loader {
  0% {
    transform: rotate(1turn);
  }
  50% {
    transform: rotate(1.5turn) translateX(50px);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: rotate(0.5turn) translateY(-50px);
    opacity: 0;
  }
}
@keyframes loader2 {
  0% {
    transform: rotate(0.5turn);
  }
  50% {
    transform: rotate(1.5turn) translateX(-50px);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: rotate(0.5turn) translateY(50px);
    opacity: 0;
  }
}
@keyframes loader-body {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes parts {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0px);
  }
}
.menu__main_div__appetizer__article:hover .menu__main_div__appetizer__article__divI {
  animation-name: activation__food;
  animation-duration: 200ms;
  animation-timing-function: linear;
  transform-origin: right;
  animation-fill-mode: forwards;
}
.menu__main_div__appetizer__article:hover .menu__main_div__appetizer__article__price {
  animation-name: activation__food;
  animation-duration: 200ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.menu__main_div__appetizer__article:hover .menu__main_div__appetizer__article__section {
  animation-name: text__overflow;
  animation-duration: 200ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  transform-origin: left;
}

@keyframes activation__food {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-60px);
  }
}
@keyframes text__overflow {
  0% {
    transform: scaleX(1);
  }
  100% {
    width: calc(82.2% - 70px);
  }
}
.footer__footers__a:hover {
  background: -webkit-linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
}

.mainTitle {
  padding: 20px 0px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 1;
  position: relative;
}

.location {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: #eaeaea;
  display: flex;
  justify-content: center;
  z-index: 0;
}
.location__i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 17px;
}

.reserve_menu {
  background: #f6f6f6;
  padding: 20px 0 57px 0;
}
.reserve_menu__p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0 10px 27px 10px;
}
.reserve_menu__button {
  background: linear-gradient(360deg, #9356dc -11.44%, #ff79da 123.93%);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
  color: white;
  padding: 13px 18px;
}

.header {
  position: relative;
}
.header .title {
  text-align: center;
  width: 100%;
}
.header__a {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  left: 23px;
  text-decoration: none;
  color: #353535;
}
.header__a__i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__title {
  font-family: "Shrikhand", cursive;
  margin: 0 0 16px 25px;
  font-size: 18px;
}
.footer__footers {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-left: 25px;
}
.footer__footers__a {
  color: #ffffff;
  margin: 0;
}
.footer__footers__p {
  margin: 4px 0;
}
.footer__footers__i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 11px;
}

@media screen and (min-width: 768px) {
  footer {
    padding-top: 57px;
    display: flex;
    flex-direction: row-reverse;
  }
  .footer__title {
    margin-right: 50px;
  }
  .footer__footers {
    display: flex;
    flex-direction: row;
  }
  .footer__footers__div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
  }
  .footer__footers .footer__footers__p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
  }
}
.fonctionning {
  padding-top: 48px;
  height: 392px;
}
.fonctionning__title {
  margin: 0 0 26px 20px;
  font-size: 24px;
}
.fonctionning__cards {
  background: #f6f6f6;
  width: 85.9%;
  display: flex;
  position: relative;
  justify-content: space-around;
  margin: 12.5px 0px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  height: 72px;
}
.fonctionning__cards__num {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 14px;
  left: -12.5px;
  bottom: 50%;
  transform: translateY(50%);
  width: 25px;
  height: 25px;
  margin: 0 0 0 0;
  border-radius: 50px;
  background: #9356dc;
  color: #ffffff;
  font-size: 14px;
}
.fonctionning__cards__i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.fonctionning__cards__p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  width: 211px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  body {
    max-width: 1440px;
  }
  .fonctionning {
    height: 100%;
    padding: 38px 0;
  }
  .fonctionning__title {
    margin: 0 0 26px 12.5%;
  }
  .fonctionning__cards {
    width: 22.4%;
    min-width: 250px;
    margin: 12px 18px;
    padding: 0 0 0 12px;
  }
}
.restaurants {
  background: #f6f6f6;
  padding: 54px 0 66px 0;
}
.restaurants__title {
  margin: 0 0 26px 20px;
}
.restaurants__card {
  width: 90.7%;
  overflow: hidden;
  margin: auto;
  height: 251px;
  z-index: 1;
  position: relative;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 8px 0;
  color: black;
  text-decoration: none;
}
.restaurants__card__img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 20px;
  height: 231px;
  z-index: 0;
  top: -57px;
}
.restaurants__card__new {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  width: 80px;
  height: 30px;
  right: 15px;
  top: 15px;
  margin: 0;
  background: #99e2d0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}
.restaurants__card__h3PI {
  position: relative;
  margin: 190px 25px 13px 13px;
  display: flex;
  justify-content: space-between;
}
.restaurants__card__h3PI__p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 6px 0 0 0;
}

@media screen and (min-width: 768px) {
  .restaurants__title {
    margin: 0 0 1px 12.5%;
  }
  .restaurants__card {
    width: 34%;
    margin: 25px 50px;
  }
}
.menu__main_div__appetizer__article__section__title,
.menu__main_div__appetizer__article__section_p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu {
  position: relative;
}
.menu__img {
  position: absolute;
  top: -220px;
  object-fit: cover;
  width: 100%;
  z-index: -2;
}
.menu__main_div {
  background: #f6f6f6;
  padding: 32px 0 40px 0;
  margin: 220px 0 0 0;
  border-radius: 40px 40px 0px 0px;
}
.menu__main_div__section {
  margin: 0 0 42px 0;
}
.menu__main_div__title {
  font-family: "Shrikhand", cursive;
  margin: 0 24px 0 0;
}
.menu__main_div__appetizer {
  margin-bottom: 40px;
}
.menu__main_div__appetizer__title {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0 0 12px 3.4%;
  height: 27px;
}
.menu__main_div__appetizer__article {
  background: #ffffff;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15.0431px;
  width: 93.1%;
  margin: auto;
  margin-bottom: 12px;
}
.menu__main_div__appetizer__article__section {
  text-overflow: ellipsis;
  width: calc(82.2% - 5px);
  margin: 12px 0 12px 12px;
}
.menu__main_div__appetizer__article__section__title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 0 0 5px 0;
  height: 21px;
  font-size: 18px;
}
.menu__main_div__appetizer__article__section_p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0;
  height: 19px;
  font-size: 15px;
}
.menu__main_div__appetizer__article__price {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: flex;
  margin: 0 14px 14px 0;
  flex-direction: column-reverse;
}
.menu__main_div__appetizer__article__divI {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translateX(0px);
  right: -60px;
  background: #99e2d0;
  width: 59px;
  height: 69px;
  margin: 0;
  transform-origin: right;
}
.menu__main_div__appetizer__article__divI__i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 20px;
  height: 20px;
  color: #99e2d0;
  background: #ffffff;
  border-radius: 20px;
}

.button {
  background: linear-gradient(360deg, #9356dc -11.44%, #ff79da 123.93%);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
  color: white;
  padding: 16px 35px;
}

@media screen and (min-width: 768px) {
  body {
    background: #ffffff;
  }
  .header {
    background: #ffffff;
  }
  .menu {
    position: relative;
  }
  .menu__img {
    top: -674px;
    z-index: -2;
    height: 956px;
    width: 100%;
  }
  .menu .backgroundForResponsive {
    position: absolute;
    z-index: -1;
    height: 1220px;
    width: 100%;
    top: 40px;
    background: #ffffff;
  }
  .menu__main_div {
    width: 73.3%;
    margin: auto;
    margin-top: 375px;
  }
}

/*# sourceMappingURL=style.css.map */
