.footer {
  &__title {
    @include Shrikhand;
    margin: 0 0 16px 25px;
    font-size: 18px;
  }
  &__footers {
    @include fontRoboto500;
    font-size: 16px;
    margin-left: 25px;
    &__a {
      @include colorffffff;
      margin: 0;
    }
    &__p {
      margin: 4px 0;
    }
    &__i {
      @include flexAICenterJCCenter;
      margin-right: 11px;
    }
  }
}

@media screen and (min-width: 768px) {
  footer {
    padding-top: 57px;
    display: flex;
    flex-direction: row-reverse;
  }

  .footer {
    &__title {
      margin-right: 50px;
    }
    &__footers {
      display: flex;
      flex-direction: row;
      &__div {
        @include flexAICenterJCCenter;
        margin: 0 4px;
      }
      .footer__footers__p {
        @include fontRoboto300;
        @include flexAICenterJCCenter;
        margin: 0 4px;
      }
    }
  }
}
