.mainTitle {
  padding: 20px 0px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 1;
  position: relative;
}

.location {
  @include fontRoboto500;
  background: #eaeaea;
  display: flex;
  justify-content: center;
  z-index: 0;
  &__i {
    @include flexAICenterJCCenter;
    margin: 17px;
  }
}

.reserve_menu {
  @include backF6F6F6;
  padding: 20px 0 57px 0;
  &__p {
    @include fontRoboto300;
    margin: 0 10px 27px 10px;
  }
  &__button {
    @include button;
    padding: 13px 18px;
  }
}

.header {
  position: relative;
  .title {
    text-align: center;
    width: 100%;
  }
  &__a {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    left: 23px;
    text-decoration: none;
    color: #353535;
    &__i {
      @include flexAICenterJCCenter;
    }
  }
}
