@import '../utils/mixins';

@import '../components/buttons';

body {
    max-width: 768px;
    margin: auto;
}

header {
    text-align: center;
} 

.mainTitle {
    padding: 20px 0px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    z-index: 1;
    position: relative;
}

h1 {
    @include Shrikhand;
    margin: 0;
}

.location {
    @include fontRoboto500;
    background: #EAEAEA;
    display: flex;
    justify-content: center;
    z-index: 0;
}

.location__i {
    @include flexAICenterJCCenter;
    margin: 17px;
}

.reserve_menu {
    @include backF6F6F6;
    padding: 20px 0 57px 0;
}

h2 {
    @include fontRoboto700;
}

.reserve_menu__p {
    @include fontRoboto300;
    margin-bottom: 27px;
}

.reserve__menu__button {
    @include fontRoboto500;
    font-size: 16px;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%) ;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border: none;
    color: white;
    padding: 13px 18px;
}
