.reserve__menu__button:hover {
  animation-name: button;
  animation-duration: 250ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.button:hover {
  animation-name: button;
  animation-duration: 250ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes button {
  0% {
    background: linear-gradient(360deg, #9356dc -11.44%, #ff79da 123.93%);
  }
  100% {
    background: linear-gradient(360deg, #9356dc -11.44%, #ff79da 123.93%);
    opacity: 85%;
  }
}

.iDivHeart:hover {
  .iHearSolid {
    display: block;
    background: -webkit-linear-gradient(
      193.33deg,
      #9356dc -11.44%,
      #ff79da 123.93%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  .iHearRegular {
    display: none;
  }
}
