.reserve_menu__button:hover {
  @include buttonAnimation;
}

.button:hover {
  @include buttonAnimation;
}

@keyframes button {
  0% {
    @include linearGradient;
  }
  100% {
    @include linearGradient;
    opacity: 85%;
  }
}

.iDivHeart:hover {
  .iHearSolid {
    @include fontLinearGradient;
    display: block;
  }
  .iHearRegular {
    display: none;
  }
}
