.iDivHeart {
  position: absolute;
  @include flexAICenterJCCenter;
  z-index: 2029;
  right: 25px;
  bottom: 33px;
  .iHearSolid {
    display: none;
  }
}

.iDivHeartStatic {
  position: static;
}

.iHearSolid {
  display: none;
}

.iDivHeart:hover {
  .iHearSolid {
    animation: heart 1000ms;
    @include fontLinearGradient;
    display: block;
  }
  .iHearRegular {
    display: none;
  }
}

@keyframes heart {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
