.menu__main_div__appetizer__article:hover {
    & .menu__main_div__appetizer__article__divI {
        animation-name: activation__food;
        animation-duration: 250ms;
        animation-timing-function: linear;
        transform-origin: right;
        animation-fill-mode: forwards;
    }
    & .menu__main_div__appetizer__article__price {
        transition: 250ms linear;
        transform: translateX(-60px);
    }
}

@keyframes activation__food {
from {
    transform: translateX(0px);
}

to {
    transform: translateX(-60px);
}
}
