.loader {
  @include loaders;
  animation: loader 3000ms forwards;
}

.loader2 {
  @include loaders;
  animation: loader2 3000ms forwards;
}

.loader__i {
  @include fontLinearGradient;
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 50px;
  width: 50px;
  height: 50px;
}

.whole_body {
  animation: loader-body 2000ms 1000ms both;
  header {
    animation: parts 2000ms 600ms both;
  }
  .fonctionning {
    animation: parts 2000ms 850ms both;
  }
  .restaurants {
    animation: parts 1900ms 1100ms both;
  }
  .article1 {
    animation: parts 2000ms 100ms both;
  }
  .article2 {
    animation: parts 2000ms 200ms both;
  }
  .article3 {
    animation: parts 2000ms 300ms both;
  }
  .article4 {
    animation: parts 2000ms 400ms both;
  }
  .article5 {
    animation: parts 2000ms 500ms both;
  }
  .article6 {
    animation: parts 2000ms 600ms both;
  }
  .article7 {
    animation: parts 2000ms 700ms both;
  }
  .article8 {
    animation: parts 2000ms 800ms both;
  }
  .article9 {
    animation: parts 2000ms 900ms both;
  }
  .article10 {
    animation: parts 2000ms 1000ms both;
  }
}

@keyframes loader {
  0% {
    transform: rotate(1turn);
  }

  50% {
    transform: rotate(1.5turn) translateX(50px);
  }

  80% {
    opacity: 1;
  }

  100% {
    transform: rotate(0.5turn) translateY(-50px);
    opacity: 0;
  }
}

@keyframes loader2 {
  0% {
    transform: rotate(0.5turn);
  }

  50% {
    transform: rotate(1.5turn) translateX(-50px);
  }

  80% {
    opacity: 1;
  }

  100% {
    transform: rotate(0.5turn) translateY(50px);
    opacity: 0;
  }
}

@keyframes loader-body {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes parts {
  0% {
    transform: translateX(-1000px);
  }

  100% {
    transform: translateX(0px);
  }
}
