.justifyContentSpaceBeteween {
  justify-content: space-between;
}

.flexWrap {
  display: flex;
  flex-wrap: wrap;
}

.justifyContentCenter {
  justify-content: center;
}

.displayFlex {
  display: flex;
}
