body {
  margin: auto;
}

header {
  text-align: center;
}

h1 {
  @include Shrikhand;
  margin: 0;
}

h2 {
  @include fontRoboto700;
}

h3 {
  @include fontRoboto700;
  margin: 0;
  color: black;
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
}

main {
  position: relative;
}

span {
  display: inline-block;
  height: 27px;
  border-bottom: solid #99e2d0 4px;
}

footer {
  background: #353535;
  color: #ffffff;
  padding: 22px 0;
}
